<div class="container-fluid fondog py-3 px-4">
    <div class="row g-4">
        <div class="col-6 col-sm-6 col-md-3 ">
            <div class="p-3 fondo2 inner text-center">
                <img src="../../../assets/image/iconos-14.png" class="img-fluid tam_img_consultas">
                <span class="row fw-bold fs-7 justify-content-center">Despacho a domicilio</span>
                <span class="row text-muted justify-content-center fs-7">Recibe tus productos en la comodidad de tu
                    casa.</span>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 ">
            <div class="p-3 fondo2 inner text-center">
                <img src="../../../assets/image/iconos-15.png" class="img-fluid tam_img_consultas">
                <span class="row fw-bold fs-7 justify-content-center">Retiro en tienda</span>
                <span class="row text-muted justify-content-center fs-7">Compra vía online y recoge en nuestras
                    tiendas.</span>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
            <div class="p-3 fondo2 inner text-center">
                <img src="../../../assets/image/iconos-16.png" class="img-fluid tam_img_consultas">
                <span class="row fw-bold fs-7 justify-content-center">Atención al cliente</span>
                <div class="justify-content-center">
                    <img src="../../../assets/image/whas.png" class="img-fluid tam_ico">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=51982007592&text=Hola!"
                        class="link text-muted fs-7">+51 982 007 592</a>
                </div>
                <div class="justify-content-center">
                    <img src="../../../assets/image/whas.png" class="img-fluid tam_ico">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=51994291572&text=Hola!"
                        class="link text-muted fs-7">+51 994 291 572</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 text-center">
            <div class="p-3 fondo2 inner text-center">
                <img src="../../../assets/image/iconos-17.png" class="img-fluid tam_img_consultas">
                <span class="row fw-bold fs-7 justify-content-center">Libro de reclamaciones</span>
                <span class="row text-muted justify-content-center text-break fs-7">Nos interesa saber </span>
                <span class="row text-muted justify-content-center text-break fs-7"> tu opinión.</span>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid colorfondo p-4 text-white">
    <div class="row g-4">
        <div class="col-6 col-sm-6 col-md-3">
            <span class="h6 text-center">CONTÁCTANOS:</span>
            <div>
                <img src="../../../assets/image/iconos-18.png" class="img-fluid" height="25px" width="25px">
                <a target="_blank" href="https://www.messenger.com/t/859885404139281" class="pl-1 link">Chatea con
                    nosotros</a>
            </div>
            <div class="pt-2">
                <img src="../../../assets/image/iconos-19.png" class="img-fluid " height="25px" width="25px">
                <span class="">Llámanos:</span>
            </div>
            <div class="row ml-5">Venta Telefónica:</div>
            <div>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=51982007592&text=Hola!" class="link">982
                    007 592</a>
            </div>
            <div>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=51994291572&text=Hola!" class="link">994
                    291 572</a>
            </div>
            <div class="pt-2">
                <img src="../../../assets/image/iconos-20.png" class="img-fluid" height="25px" width="25px">
                <span class="">De lunes a viernes de 8:00 am a 6:00 pm </span>
            </div>
            <div>
                <img src="../../../assets/image/iconos-21.png" class="img-fluid" height="25px" width="25px">
                <span class="pl-1">Escríbenos:</span>
            </div>
            <a class="link text-break">ventas@construdecorperu.com</a>
            <div class="pt-2">
                <img src="../../../assets/image/iconos-22.png" class="img-fluid" height="25px" width="25px">
                <span class="">Visítanos:</span>
            </div>
            <div>
                <a class="link" target="_blank" href="https://g.page/SERV-TECNICO-BOSCH?share">Av. Las Palmeras N°
                    5281 - Los Olivos</a>
            </div>
            <div>
                <a class="link" target="_blank" href="https://goo.gl/maps/j4ayVMgg2BVc6c8o9">Calle Los Tornos N° 182
                    Urb. Naranjal - Independencia</a>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
            <div class="h6">SECCIONES:</div>
            <div><a href="#" class="link row">Nosotros</a></div>
            <div><a href="#" class="link row">Nuestras tiendas</a></div>
            <div><a href="#" class="link row">Nuestros Servicios</a></div>
            <div><a href="#" class="link row">Ventas a Empresas</a></div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
            <div class="h6">ATENCIÓN AL CLIENTE</div>
            <div><a href="#" class="link">Preguntas frecuentes</a></div>
            <div><a href="#" class="link">Cambios y devoluciones</a></div>
            <div><a href="#" class="link">Comprobantes electrónicos</a></div>
            <div><a href="#" class="link">Términos y condiciones de compra</a></div>
            <div><a href="#" class="link">Política de Privacidad</a></div>
            <div><a href="#" class="link">Mis pedidos</a></div>
            <div><a href="#" class="link">Seguimiento de despacho</a></div>
            <div><a href="#" class="link">Contáctanos </a></div>
            <div><a href="#" class="link">Danos tu Opinión</a></div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
            <span class="row h6">Medios de pago:</span>
            <div class="row g-2">
                <div class="col-md-2 flex-md-grow-1 col-4 col-sm-4 m-0 p-0 text-center">
                    <img src="../../../assets/image/iconos-28.png" class="img-fluid tam_img_pago">
                </div>
                <div class="col-md-2 flex-md-grow-1 col-4 col-sm-4 m-0 p-0 text-center">
                    <img src="../../../assets/image/iconos-29.png" class="img-fluid tam_img_pago">
                </div>
                <div class="col-md-2 flex-md-grow-1 col-4 col-sm-4 m-0 p-0 text-center">
                    <img src="../../../assets/image/iconos-30.png" class="img-fluid tam_img_pago">
                </div>
                <div class="col-md-2 flex-md-grow-1 col-6 col-sm-6 m-0 p-0 text-center">
                    <img src="../../../assets/image/iconos-27.png" class="img-fluid tam_img_pago">
                </div>
                <div class="col-md-2 flex-md-grow-1 col-6 col-sm-6 m-0 p-0 text-center">
                    <img src="../../../assets/image/iconos-26.png" class="img-fluid tam_img_pago">

                </div>
            </div>
            <span class="row h6">Síguenos en:</span>
            <div class="">
                <div class="izq">
                    <a target="_blank" href="https://www.instagram.com/construdecorperu/"><img
                            src="../../../assets/image/iconos-23.png" class="img-fluid iconos" alt="instagram"></a>
                </div>
                <div class="izq pl-1">
                    <a target="_blank" href="https://www.facebook.com/construdecorperusac/"><img
                            src="../../../assets/image/iconos-24.png" class="img-fluid iconos" alt="facebook"></a>
                </div>
                <div class="pl-1">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=51994291572&text=Hola!"><img
                            src="../../../assets/image/iconos-25.png" class="img-fluid iconos" alt="whatsapp"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-3 bg-dark text-white">
    <div class="row">
        <span class="col-12 col-sm-12 col-md-12">
            © 2021 Todos los Derechos Reservados | <a class="font-weight-bold" class="link" href="#">Alpateam</a>
        </span>
    </div>
</div>