<div class="container-fluid fondog">
    <div class="row">
        <div class="col-auto pt-3 pb-2 pl-4">
            <div class="col-auto p-5 text-center izq fondo2 rounded">
                <img src="../../../assets/image/iconos-14.png" class="img-fluid" height="120px" width="120px">
                <span class="row font-weight-bold tam">Despacho a domicilio</span>
                <span class="row text-muted">Recibe tus productos en la</span>
                <span class="row text-muted pl-3">comodidad de tu casa.</span>
            </div>
        </div>
        <div class="col-auto pt-3 pb-2 pl-5">
            <div class="col-auto p-5 text-center izq fondo2 rounded">
                <img src="../../../assets/image/iconos-15.png" class="img-fluid" height="120px" width="120px">
                <span class="row font-weight-bold tam mx-auto">Retiro en tienda</span>
                <span class="row text-muted">Compra vía online y recoge</span>
                <span class="row text-muted pl-4">en nuestras tiendas.</span>
            </div>
        </div>
        <div class="col-auto pt-3 pb-2 pl-5">
            <div class="col-auto p-5 text-center izq fondo2 rounded">
                <img src="../../../assets/image/iconos-16.png" class="img-fluid" height="120px" width="120px">
                <span class="row font-weight-bold tam">Atención al cliente</span>
                <div class="row mb-1">
                    <img src="../../../assets/image/whas.png" class="img-fluid" height="23px" width="23px">
                    <a href="#" class="text-muted ml-2">+51 982 007 592</a>
                </div>
                <div class="row">
                    <img src="../../../assets/image/whas.png" class="img-fluid" height="23px" width="23px">
                    <a href="#" class="text-muted ml-2">+51 994 291 572</a>
                </div>
            </div>
        </div>
        <div class="col-auto pt-3 pb-2 pl-5 pr-4">
            <div class="col-auto p-5 text-center izq fondo2 rounded">
                <img src="../../../assets/image/iconos-17.png" class="img-fluid" height="120px" width="120px">
                <span class="row font-weight-bold tam">Libro de reclamaciones</span>
                <span class="row text-muted ml-4">Nos interesa saber </span>
                <span class="row text-muted ml-5">tu opinión.</span>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm colorfondo text-white pt-4 pl-5">
            <span class="row h6 ml-3">CONTÁCTANOS:</span>
            <div class="row">
                <img src="../../../assets/image/iconos-18.png" class="img-fluid" height="25px" width="25px">
                <a href="#" class="row ml-1 text-white">Chatea con nosotros</a>
            </div>
            <div class="row pt-2">
                <img src="../../../assets/image/iconos-19.png" class="img-fluid " height="25px" width="25px">
                <span class="pl-1">Llámanos:</span>
            </div>
            <span class=" row ml-3">Venta Telefónica:</span>
            <a href="#" class="row ml-3 text-white">982 007 592</a>
            <a href="#" class="row ml-3 text-white">994 291 572</a>

            <div class="row pt-2">
                <img src="../../../assets/image/iconos-20.png" class="img-fluid" height="25px" width="25px">
                <span class="pl-1">De lunes a viernes de 8:00 am </span>
            </div>
            <span class="row ml-3">a 6:00 pm</span>
            <div class="row pt-2">
                <img src="../../../assets/image/iconos-21.png" class="img-fluid" height="25px" width="25px">
                <span class="pl-1">Escríbenos:</span>
            </div>
            <a href="#" class="row ml-3 text-white">ventas@construdecorperu.com</a>
            <div class="row pt-2">
                <img src="../../../assets/image/iconos-22.png" class="img-fluid" height="25px" width="25px">
                <span class="pl-1">Visítanos:</span>
            </div>
            <a href="#" class="row ml-3 text-white">Av. Las Palmeras N° 5281 - Los Olivos</a>
            <a href="#" class="row ml-3 text-white">Calle Los Tornos N° 182 Urb. Naranjal - Independencia </a>
        </div>
        <div class="col colorfondo text-white pt-4 pl-5">
            <span class="row h6">SECCIONES:</span>
            <a href="#" class="row text-white">Nosotros </a>
            <a href="#" class="row text-white">Nuestras tiendas</a>
            <a href="#" class="row text-white">Nuestros Servicios</a>
            <a href="#" class="row text-white">Ventas a Empresas</a>
        </div>
        <div class="col-sm colorfondo text-white pt-4 pl-5">
            <span class="row h6">ATENCIÓN AL CLIENTE</span>
            <a href="#" class="row text-white">Preguntas frecuentes </a>
            <a href="#" class="row text-white"> Cambios y devoluciones</a>
            <a href="#" class="row text-white"> Comprobantes electrónicos</a>
            <a href="#" class="row text-white"> Términos y condiciones de compra</a>
            <a href="#" class="row text-white"> Política de Privacidad</a>
            <a href="#" class="row text-white"> Mis pedidos</a>
            <a href="#" class="row text-white"> Seguimiento de despacho</a>
            <a href="#" class="row text-white"> Contáctanos </a>
            <a href="#" class="row text-white"> Danos tu Opinión</a>
        </div>
        <div class="col-sm colorfondo text-white pt-4 pl-5">
            <span class="row h6">Medio de pago:</span>
            <div class="row">
                <div class="izq">
                    <img src="../../../assets/image/iconos-28.png" class="img-fluid" height="50px" width="80px">
                </div>
                <div class="izq pl-2">
                    <img src="../../../assets/image/iconos-29.png" class="img-fluid" height="50px" width="80px">
                </div>
                <div class="pl-4">
                    <img src="../../../assets/image/iconos-30.png" class="img-fluid" height="50px" width="80px">
                </div>
                <div class="pl-5 izq">
                    <img src="../../../assets/image/iconos-27.png" class="img-fluid" height="50px" width="80px">
                </div>
                <div class="pl-4">
                    <img src="../../../assets/image/iconos-26.png" class="img-fluid" height="50px" width="80px">
                </div>
            </div>
            <div class="row h6">
                <span>Síguenos en:</span>
            </div>
            <div class="row">
                <div class="izq">
                    <a href="#"><img src="../../../assets/image/iconos-23.png" class="img-fluid" height="50px"
                            width="50px"></a>
                </div>
                <div class="izq pl-1">
                    <a href="#"><img src="../../../assets/image/iconos-24.png" class="img-fluid" height="50px"
                            width="50px"></a>
                </div>
                <div class="pl-1">
                    <a href="#"><img src="../../../assets/image/iconos-25.png" class="img-fluid" height="50px"
                            width="50px"></a>
                </div>
            </div>
        </div>
    </div>
</div>