.colorfondo {
  background-color: #004c8b;
}
.fondo2 {
  background-color: #ffffff !important;
  border-radius: 15px;
}
.fondog {
  background-color: #f5f5f5;
}
a.link {
  text-decoration: none;
  color: white;
}
a:hover.link {
  color: rgb(170, 114, 114);
}
.iconos {
  width: 40px;
  height: 40px;
}

.iconos:hover {
  opacity: 0.5;
}
.tam_ico{
  height: 15px;
  width: 15px;
}

.izq{
  float: left;
}
.tam_img_pago{
  height: 60px;
  width:  50px;
}
.inner {
  height: 168px;
}
.tam_img_consultas{
  height: 70px;
  width: 70px;
}
.fs-7{
  font-size: 13px;
}
