<div class="container-fluid fondog px-4 py-3">
    <div class="row">
        <div class="col-sm-3 p-2 text-center fondog">
            <div class="p-3 fondo2">
                <img src="../../../assets/image/iconos-14.png" class="img-fluid" height="120px" width="120px">
                <span class="row font-weight-bold tam justify-content-center">Despacho a domicilio</span>
                <span class="row text-muted justify-content-center">Recibe tus productos en la</span>
                <span class="row text-muted justify-content-center">comodidad de tu casa.</span>
            </div>
        </div>
        <div class="col-sm-3 p-2 text-center fondog">
            <div class="p-3 fondo2">
                <img src="../../../assets/image/iconos-15.png" class="img-fluid" height="120px" width="120px">
                <span class="row font-weight-bold tam justify-content-center">Retiro en tienda</span>
                <span class="row text-muted justify-content-center">Compra vía online y recoge</span>
                <span class="row text-muted justify-content-center">en nuestras tiendas.</span>
            </div>
        </div>
        <div class=" col-sm-3 p-4 text-center fondo2">
            <img src="../../../assets/image/iconos-16.png" class="img-fluid" height="120px" width="120px">
            <span class="row font-weight-bold tam justify-content-center">Atención al cliente</span>
            <div class="row justify-content-center">
                <img src="../../../assets/image/whas.png" class="img-fluid" height="22px" width="22px">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=51982007592&text=Hola!"
                    class="text-muted">+51 982 007 592</a>
            </div>
            <div class="row pt-1 justify-content-center">
                <img src="../../../assets/image/whas.png" class="img-fluid" height="22px" width="22px">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=51994291572&text=Hola!"
                    class="text-muted">+51 994 291 572</a>
            </div>
        </div>
        <div class=" col-sm-3 p-4 text-center fondo2 rounded-right">
            <img src="../../../assets/image/iconos-17.png" class="img-fluid" height="120px" width="120px">
            <span class="row font-weight-bold tam justify-content-center">Libro de reclamaciones</span>
            <span class="row text-muted justify-content-center">Nos interesa saber </span>
            <span class="row text-muted justify-content-center">tu opinión.</span>
        </div>
    </div>
</div>
<div class="container-fluid colorfondo pb-4 text-white">
    <div class="row">
        <div class="col-sm pl-5 pt-4">
            <span class="row h6 ml-3">CONTÁCTANOS:</span>
            <div class="row">
                <img src="../../../assets/image/iconos-18.png" class="img-fluid" height="25px" width="25px">
                <a href="https://www.messenger.com/t/859885404139281" class="row ml-1 text-white">Chatea con
                    nosotros</a>
            </div>
            <div class="row pt-2">
                <img src="../../../assets/image/iconos-19.png" class="img-fluid " height="25px" width="25px">
                <span class="pl-1">Llámanos:</span>
            </div>
            <span class="row ml-3">Venta Telefónica:</span>
            <div class="row ml-3">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=51982007592&text=Hola!" class="">982 007
                    592</a>
            </div>
            <div class="row ml-3">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=51994291572&text=Hola!" class="">994 291
                    572</a>
            </div>
            <div class="row pt-2">
                <img src="../../../assets/image/iconos-20.png" class="img-fluid" height="25px" width="25px">
                <span class="pl-1">De lunes a viernes de 8:00 am </span>
            </div>
            <span class="row ml-3">a 6:00 pm</span>
            <div class="row pt-2">
                <img src="../../../assets/image/iconos-21.png" class="img-fluid" height="25px" width="25px">
                <span class="pl-1">Escríbenos:</span>
            </div>
            <span class="row ml-3">ventas@construdecorperu.com</span>
            <div class="row pt-2">
                <img src="../../../assets/image/iconos-22.png" class="img-fluid" height="25px" width="25px">
                <span class="pl-1">Visítanos:</span>
            </div>
            <div class="row ml-3">
                <a target="_blank" href="https://g.page/SERV-TECNICO-BOSCH?share">Av. Las Palmeras N°
                    5281 - Los Olivos</a>
            </div>
            <div class="row ml-3">
                <a target="_blank" href="https://goo.gl/maps/j4ayVMgg2BVc6c8o9">Calle Los Tornos N° 182
                    Urb. Naranjal - Independencia</a>
            </div>
        </div>
        <div class="col-sm pl-5 pt-4">
            <span class="row h6">SECCIONES:</span>
            <div class="row"><a href="#">Nosotros</a></div>
            <div class="row"><a href="#">Nuestras tiendas</a></div>
            <div class="row"><a href="#">Nuestros Servicios</a></div>
            <div class="row"><a href="#">Ventas a Empresas</a></div>

        </div>
        <div class="col-sm pl-5 pt-4">
            <span class="row h6">ATENCIÓN AL CLIENTE</span>
            <div class="row"><a href="#">Preguntas frecuentes</a></div>
            <div class="row"><a href="#">Cambios y devoluciones</a></div>
            <div class="row"><a href="#">Comprobantes electrónicos</a></div>
            <div class="row"><a href="#">Términos y condiciones de compra</a></div>
            <div class="row"><a href="#">Política de Privacidad</a></div>
            <div class="row"><a href="#">Mis pedidos</a></div>
            <div class="row"><a href="#">Seguimiento de despacho</a></div>
            <div class="row"><a href="#">Contáctanos </a></div>
            <div class="row"><a href="#">Danos tu Opinión</a></div>
        </div>
        <div class="col-sm pl-5 pt-4">
            <span class="row h6">Medios de pago:</span>
            <div class="row">
                <div class="izq">
                    <img src="../../../assets/image/iconos-28.png" class="img-fluid" height="50px" width="80px">
                </div>
                <div class="izq pl-2">
                    <img src="../../../assets/image/iconos-29.png" class="img-fluid" height="50px" width="80px">
                </div>
                <div class="pl-4">
                    <img src="../../../assets/image/iconos-30.png" class="img-fluid" height="50px" width="80px">
                </div>
                <div class="pl-5 izq">
                    <img src="../../../assets/image/iconos-27.png" class="img-fluid" height="50px" width="80px">
                </div>
                <div class="pl-4">
                    <img src="../../../assets/image/iconos-26.png" class="img-fluid" height="50px" width="80px">
                </div>
            </div>
            <div class="row h6">
                <span>Síguenos en:</span>
            </div>
            <div class="row">
                <div class="izq">
                    <a target="_blank" href="https://www.instagram.com/construdecorperu/"><img
                            src="../../../assets/image/iconos-23.png" class="img-fluid" height="50px" width="50px"
                            alt="instragram"></a>
                </div>
                <div class="izq pl-1">
                    <a target="_blank" href="https://www.facebook.com/construdecorperusac/"><img
                            src="../../../assets/image/iconos-24.png" class="img-fluid" height="50px" width="50px"
                            alt="facebook"></a>
                </div>
                <div class="pl-1">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=51994291572&text=Hola!"><img
                            src="../../../assets/image/iconos-25.png" class="img-fluid" height="50px" width="50px"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-3 bg-dark text-white">
    <div class="row ml-3">
        <span class="col-sm">
            © 2021 Todos los Derechos Reservados | <a class="font-weight-bold" href="#">Alpateam</a>
        </span>
    </div>
</div>