/* You can add global styles to this file, and also import other style files */
.colorfondo{
    background-color: #004C8B;
}
.fondo2{
    background-color: #FFFFFF;
}
.fondog{
    background-color: #F5F5F5;
}

.izq{
    float: left;
}
.tam{
    font-size: 19px !important;
}