/* You can add global styles to this file, and also import other style files */

.contenido{
    margin:1px;
}
.saltito{
    white-space: pre-line;
}
.caja1{
     background-color: #004C8B;
     width: 300px;
     height: 400px;
     float: left;
     color: white;
  
    
}
.caja2{
    background-color: #004C8B;
    width: 300px;
    height: 300px;
    float: left;
    color: white;
}
.caja3{
    background-color: #004C8B;
    width: 300px;
    height: 300px;
    float: left;
    color: white;
}
.caja4{
    background-color:  #004C8B;
    width: 300px;
    height: 300px;
    float: left;
}